{{#each ideas}}
<div class="card card-body mb-3">
    <h4>{{title}}</h4>
    <p>{{details}}</p>


    <div class="container ">
        <div class="row ">
            <div class="col-sm center">
                <a class="btn btn-dark btn-block mb-2" href="/ideas/edit/{{id}}">Edit</a>
            </div>
            <div class="col-sm center">

                <form method="post" action="/ideas/{{id}}?_method=DELETE">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" class="btn btn-danger btn-block " value="Delete">
                </form>
            </div>

        </div>
    </div>


</div>
{{else}}
<p>No Video Ideas Listed</p>
{{/each}}